.typeone {
	display: flex;
	align-items: center;
}
.typetwo {
	display: flex;
	align-items: center;
}
.typetree {
	display: flex;
	align-items: center;
}
.typefour {
	display: flex;
	align-items: center;
}